Repository ernijsansons/CoreFlow360, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coreflow360/consciousness-architects, @coreflow360/ai-engineers, @coreflow360/module-engineers, @coreflow360/database-engineers, @coreflow360/security-engineers, @coreflow360/devops-engineers, @coreflow360/frontend-engineers, @coreflow360/documentation-team, @coreflow360/billing-engineers

.github/CODEOWNERS:

# CoreFlow360 Consciousness Architecture Code Ownership
# Global ownership - all changes require consciousness validation
* @coreflow360/consciousness-architects

# Critical consciousness systems
/src/ai/ @coreflow360/consciousness-architects @coreflow360/ai-engineers
/src/lib/consciousness/ @coreflow360/consciousness-architects
/src/modules/ @coreflow360/consciousness-architects @coreflow360/module-engineers

# Business organism architecture  
/prisma/ @coreflow360/consciousness-architects @coreflow360/database-engineers
/src/lib/auth.ts @coreflow360/consciousness-architects @coreflow360/security-engineers
/src/middleware/ @coreflow360/consciousness-architects @coreflow360/security-engineers

# Infrastructure and operational systems
/.github/ @coreflow360/consciousness-architects @coreflow360/devops-engineers
/scripts/ @coreflow360/consciousness-architects @coreflow360/devops-engineers
/next.config.js @coreflow360/consciousness-architects @coreflow360/frontend-engineers

# Documentation and consciousness evolution
/*.md @coreflow360/consciousness-architects @coreflow360/documentation-team
/docs/ @coreflow360/consciousness-architects @coreflow360/documentation-team

# Payment and subscription consciousness
/src/lib/stripe/ @coreflow360/consciousness-architects @coreflow360/billing-engineers
/src/app/api/stripe/ @coreflow360/consciousness-architects @coreflow360/billing-engineers

# Security and compliance
/src/lib/security/ @coreflow360/consciousness-architects @coreflow360/security-engineers
/src/__tests__/security/ @coreflow360/consciousness-architects @coreflow360/security-engineers

🚀 Deployment #56 - With proper environment variables configured
  DEPLOYMENT-56.md
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Critical deployment fix #57 - Module-level database access
  src/lib/db.ts
Owners: @coreflow360/consciousness-architects

fix: CRITICAL - Remove Prisma import from client component (#58)
  src/contexts/ThemeContext.tsx
Owners: @coreflow360/consciousness-architects

fix: Remove module-level database initializations - attempt #59
  .eslintrc.json
  AUDIT_ERRORS_SYSTEMATIC_GROUPING.md
  LOW_LEVEL_ISSUES_DETAILED.md
  audit.json
  module-level-issues.json
  package-lock.json
  package.json
  reports/audit/audit-report.json
  reports/audit/audit-summary.md
  scripts/fix-module-level-access.js
  src/__tests__/accessibility/wcag-aaa.test.tsx
  src/__tests__/auth/session-security.test.ts
  src/__tests__/e2e/ai-orchestration.spec.ts
  src/__tests__/e2e/auth-flow.spec.ts
  src/__tests__/e2e/global-setup.ts
  src/__tests__/integration/api-flow.test.ts
  src/__tests__/integration/auth-flow.test.ts
  src/__tests__/security.test.ts
  src/__tests__/security/fortress-security.test.ts
  src/__tests__/security/webhook-security.test.ts
  src/app/api/ai/intelligence/route.ts
  src/app/api/pricing/quote/route.ts
  src/lib/auth/withAuth.ts
  src/lib/external-services/service-manager.ts
  src/lib/middleware/freemium-access.ts
  src/test-config.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team, @coreflow360/devops-engineers, @coreflow360/security-engineers

feat: Add debug endpoint for deployment diagnostics - attempt #60
  README.md
  src/__tests__/TEST_STANDARDS.md
  src/__tests__/utils/error-helpers.ts
  src/app/api/debug/build-info/route.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Fix NextAuth module-level environment access - attempt #61
  src/app/api/ping/route.ts
  src/lib/auth.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

feat: Add comprehensive auto-approval system
  .coreflow-auto-approval.json
  .eslintrc.json
  SYSTEMATIC_FIX_TODO.md
  docs/auto-approval-system.md
  eslint.config.mjs
  package-lock.json
  package.json
  reports/audit/audit-report.json
  reports/audit/audit-summary.md
  scripts/auto-approval-helper.sh
  scripts/disaster-recovery.sh
  src/app/api/admin/api-keys/[id]/rotate/route.ts
  src/app/api/admin/api-keys/[id]/route.ts
  src/app/api/auth/saml/metadata/[tenantId]/[idpName]/route.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team, @coreflow360/devops-engineers

fix: Prevent 500 error in layout.tsx with auth error handling - attempt #62
  docs/bug-bot.md
  package.json
  scripts/demo-bug-bot.ts
  scripts/test-bug-bot.ts
  src/app/admin/bug-bot/page.tsx
  src/app/api/admin/api-keys/[id]/rotate/route.ts
  src/app/api/bug-bot/route.ts
  src/app/api/bug-bot/test/route.ts
  src/app/layout.tsx
  src/components/admin/BugBotDashboard.tsx
  src/lib/bug-bot/bug-bot.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team, @coreflow360/devops-engineers

fix: Resolve module-level NEXT_PHASE issue in config.ts - attempt #63
  src/__tests__/load/concurrent-calls.load.test.ts
  src/__tests__/performance/voice-benchmarks.test.ts
  src/__tests__/security/security-middleware.test.ts
  src/__tests__/subscription/module-combinations.test.ts
  src/lib/config.ts
  src/utils/performance.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Critical NextAuth configuration for Vercel deployment - attempt #64
  src/lib/auth.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Critical module-level environment config issue - attempt #65
  package-lock.json
  src/lib/config/environment.ts
Owners: @coreflow360/consciousness-architects

fix: Remove module-level prisma import in auth.ts - attempt #66
  src/lib/auth.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Skip auth during build time in layout.tsx - attempt #67
  src/app/layout.tsx
Owners: @coreflow360/consciousness-architects

fix: Create auth wrapper for safe build-time handling - attempt #68
  src/app/layout.tsx
  src/lib/auth-wrapper.ts
  src/lib/auth.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Clean up deleted files and prepare for deployment
  cript and comprehensive guide - Fix encryption key validation during build - Make all required env vars optional during build - Add detailed troubleshooting guide"
Owners: @coreflow360/consciousness-architects

fix: Edge Runtime compatibility fixes for Vercel deployment - attempt #54
  cript and comprehensive guide - Fix encryption key validation during build - Make all required env vars optional during build - Add detailed troubleshooting guide"
  package-lock.json
  src/app/api/auth/csrf/route.ts
  src/components/ai/AIAssistant.tsx
  src/lib/auth-build-safe.ts
  src/lib/auth-wrapper.ts
  src/lib/auth.ts
  src/lib/csrf.ts
  src/middleware.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Complete auth and environment configuration overhaul - attempt #69
  src/lib/auth-build-safe.ts
  src/lib/auth-original-backup.ts
  src/lib/auth-wrapper.ts
  src/lib/auth.ts
  src/lib/config/build-safe.ts
  src/lib/config/environment.ts
  src/lib/db-original.ts
  src/lib/db.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Ultimate authentication system overhaul - attempt #70
  DEPLOYMENT_FIX_70.md
  scripts/pre-deploy-check.js
  scripts/verify-env.js
  src/app/(authenticated)/dashboard/deals/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/lib/auth-config.ts
  src/lib/auth-wrapper.ts
  src/lib/auth.ts
  src/lib/db.ts
  src/middleware.ts
  src/providers/SessionProvider.tsx
  tatus --porcelain
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team, @coreflow360/devops-engineers, @coreflow360/security-engineers

🚨 EMERGENCY: Apply build-time protection fixes - Fix deployment failures
  .github/workflows/deploy-check.yml
  next.config.ts
  package.json
  scripts/emergency-deploy.sh
  scripts/pre-deploy-check.js
  scripts/verify-env.js
  src/app/(authenticated)/dashboard/evolution/page.tsx
  src/app/beta/signup/page.tsx
  src/components/automation/AutomationBuilder.tsx
  src/components/ui/PerformanceTicker.tsx
  src/lib/auth-build-safe.ts
  src/lib/auth.ts
  src/lib/csrf.ts
  src/lib/db.ts
  src/lib/websocket-client.ts
  src/middleware.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/security-engineers

🚨 EMERGENCY: Remove pre-deploy check from build script - Fix deployment failure
  package.json
Owners: @coreflow360/consciousness-architects

🚨 EMERGENCY: Fix JSON syntax error in build:production script
  package.json
Owners: @coreflow360/consciousness-architects

🚨 EMERGENCY: Fix authentication imports and build-time prerendering issues
  cript and comprehensive guide - Fix encryption key validation during build - Make all required env vars optional during build - Add detailed troubleshooting guide"
  src/__tests__/api/api-routes.integration.test.ts
  src/__tests__/auth/session-security.test.ts
  src/app/(authenticated)/dashboard/customers/page.tsx
  src/lib/csrf.ts
  src/middleware/with-rate-limit.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

🤖 Add automated deployment fixer - Monitor and auto-fix deployment issues
  scripts/auto-deploy-fix.js
  scripts/auto-deploy-fix.ps1
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

🚨 QUICK-FIX: Apply all deployment fixes at once
  scripts/monitor-deployment.ps1
  scripts/quick-fix-deploy.js
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

🚨 EMERGENCY: Fix TypeScript language service crashes
  package.json
  scripts/auto-deploy-fix.js
  src/lib/csrf.ts
  src/lib/performance-monitor.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

🚨 EMERGENCY FIX: Complete TypeScript and build fixes
  .github/workflows/ci.yml
  .github/workflows/vercel-deploy.yml
  package.json
  src/app/(authenticated)/dashboard/workflows/page.tsx
  src/lib/csrf.ts
  src/lib/performance-monitor.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

FIX: Remove problematic inventory submodule and add to .gitignore
  .gitignore
Owners: @coreflow360/consciousness-architects

FIX: Update Vercel project ID to correct value for deployment
  DEPLOYMENT_SUCCESS_SUMMARY.md
  DEPLOYMENT_SUMMARY.md
  VERCEL_DEPLOYMENT_CHECKLIST.md
  VERCEL_ENV_SETUP.md
  check-deployment.sh
  scripts/deploy-with-api-integration.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team, @coreflow360/devops-engineers

fix: Resolve SendGrid and workflow engine build issues
  next.config.mjs
  src/components/crm/WorkflowManager.tsx
  src/lib/crm/workflow-engine.ts
  src/lib/crm/workflow-types.ts
Owners: @coreflow360/consciousness-architects

fix: Resolve remaining build errors
  .gitignore
  next.config.mjs
  src/app/(authenticated)/dashboard/deals/page.tsx
  src/app/(authenticated)/dashboard/hvac/page.tsx
  src/app/(authenticated)/dashboard/marketplace/layout.tsx
  src/app/(authenticated)/dashboard/marketplace/page.tsx
  src/app/(authenticated)/dashboard/saas/page.tsx
  src/app/(authenticated)/dashboard/subscription/page.tsx
  src/app/global-error.tsx
  src/app/partners/certification/page.tsx
  src/app/partners/page.tsx
  src/components/crm/WorkflowManager.tsx
Owners: @coreflow360/consciousness-architects

fix: Fix Vercel deployment configuration
  .vercelignore
  next.config.mjs
  vercel.json
Owners: @coreflow360/consciousness-architects

fix: Critical Vercel deployment fixes
  next.config.mjs
  package.json
  src/lib/build-helpers.ts
  src/lib/db-build-safe.ts
  src/pages/_document.tsx
  vercel.json
Owners: @coreflow360/consciousness-architects

fix: Fix missing component exports for Vercel build
  src/app/(authenticated)/dashboard/analytics/page.tsx
Owners: @coreflow360/consciousness-architects

fix: Remove pages directory and add path resolution configs
  jsconfig.json
  src/pages/_document.tsx
  tailwind.config.ts
  tsconfig.json
Owners: @coreflow360/consciousness-architects

fix: Resolve build-time authentication and database issues for Vercel deployment
  next.config.ts
  src/app/api/health/route.ts
  src/app/offline/page.tsx
  src/lib/auth/tenant-utils.ts
  vercel.json
Owners: @coreflow360/consciousness-architects

fix: Remove Express dependencies for Vercel deployment
  src/app/api/route.ts
  src/lib/server-config.ts
Owners: @coreflow360/consciousness-architects

fix: Replace express-rate-limit with Next.js compatible solution
  src/lib/security/SecurityOrchestrator.ts
  src/middleware/rate-limit-compat.ts
  src/middleware/rate-limit.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Remove duplicate experimental section in Next.js config
  next.config.ts
Owners: @coreflow360/consciousness-architects

fix: Optimize Vercel build configuration and add build timeout handling
  package.json
  vercel.json
Owners: @coreflow360/consciousness-architects

fix: Remove conflicting builds property from vercel.json
  vercel.json
Owners: @coreflow360/consciousness-architects
