Repository ernijsansons/CoreFlow360, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coreflow360/consciousness-architects, @coreflow360/ai-engineers, @coreflow360/module-engineers, @coreflow360/database-engineers, @coreflow360/security-engineers, @coreflow360/devops-engineers, @coreflow360/frontend-engineers, @coreflow360/documentation-team, @coreflow360/billing-engineers

Optimize .gitignore for repository cleanup
  .gitignore
Owners: @coreflow360/consciousness-architects

Add production deployment script and update business components
  .claude/settings.local.json
  deploy-production.sh
  package.json
  src/app/api/websocket/status/route.ts
  src/components/hvac/MobileFieldService.tsx
  src/components/territory/TerritoryIntelligenceBriefing.tsx
  src/components/territory/TerritoryPerformanceAnalytics.tsx
  src/consciousness/index.ts
Owners: @coreflow360/consciousness-architects

Update Claude settings for repository cleanup
  .claude/settings.local.json
Owners: @coreflow360/consciousness-architects

Auto-update Claude settings
  .claude/settings.local.json
Owners: @coreflow360/consciousness-architects

🚀 SUPERCHARGED WEBSITE: Explosive conversion components + ROI calculator + Social proof
  .claude/settings.local.json
  package-lock.json
  package.json
  src/app/api/admin/api-keys/[id]/rotate/route.ts
  src/app/api/admin/api-keys/[id]/route.ts
  src/app/api/admin/api-keys/route.ts
  src/app/industries/hvac/page.tsx
  src/app/page.tsx
  src/app/vs-competitors/page.tsx
  src/components/admin/APIKeyManagement.tsx
  src/components/admin/SecuritySettings.tsx
  src/components/home/HeroSection.tsx
  src/components/home/InteractiveROICalculator.tsx
  src/components/home/RiskReversalSection.tsx
  src/components/home/SocialProofSection.tsx
  src/components/home/UrgencySection.tsx
  src/components/layout/Navbar.tsx
  src/lib/api-keys/middleware.ts
  src/lib/api-keys/validation.ts
  src/lib/security/credential-manager.ts
  src/types/api-keys.ts
  test-api-key-functionality.js
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

🔧 Fix build: Remove problematic API routes with missing dependencies
  .claude/settings.local.json
  src/app/api/admin/backup-validation/route.ts
  src/app/api/admin/observability/route.ts
  src/app/api/admin/webhook-analytics/route.ts
  src/app/api/marketplace/modules/route.ts
  src/app/api/metrics/live/route.ts
  src/app/api/metrics/route.ts
  src/app/api/metrics/system/route.ts
Owners: @coreflow360/consciousness-architects

🔧 Add minimal dependencies to fix build errors
  src/app/api/admin/webhook-dlq/abandon/[eventId]/route.ts
  src/app/api/admin/webhook-dlq/events/route.ts
  src/app/api/admin/webhook-dlq/metrics/route.ts
  src/app/api/admin/webhook-dlq/retry/[eventId]/route.ts
  src/app/api/ai/fingpt/route.ts
  src/app/api/modules/[moduleId]/route.ts
  src/app/api/subscriptions/current/route.ts
  src/app/api/voice-webhook/route.ts
  src/app/api/voice/route.ts
  src/app/api/voice/stream/route.ts
  src/app/api/voice/webhook/route.ts
  src/lib/modules/access-control.ts
  src/lib/monitoring/webhook-analytics.ts
  src/lib/voice/enhanced-webhook-handler.ts
  src/lib/webhook-dlq/dead-letter-queue.ts
  src/middleware/module-access.ts
  src/modules/integration-config.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers, @coreflow360/module-engineers

fix: TypeScript and build fixes for production deployment
  .gitignore
  eslint.config.mjs
  src/hooks/useEnhancedTracking.tsx
  src/lib/audit/enhanced-audit-prompts.ts
  src/lib/csrf.ts
  src/lib/optimistic-updates.ts
  src/lib/performance-monitor.ts
  src/lib/validation.ts
  src/utils/security/sanitization.ts
  v0-deployed/09-time-machine.tsx
  v0-deployed/13-seo-business-solutions.tsx
Owners: @coreflow360/consciousness-architects

fix: Resolve Vercel deployment issues
  .claude/settings.local.json
  .eslintcache
  package-lock.json
  package.json
  src/app/api/admin/cost-audits/route.ts
  src/app/api/anomaly/alerts/route.ts
  src/app/api/anomaly/detect/route.ts
  src/app/api/anomaly/metrics/route.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/consciousness/health/route.ts
  src/app/api/consciousness/insights/route.ts
  src/app/api/consciousness/modules/route.ts
  src/app/api/consciousness/tiers/route.ts
  src/app/api/crm/buying-signals/route.ts
  src/app/api/crm/decision-makers/route.ts
  src/app/api/crm/infographics/generate/route.ts
  src/app/api/crm/job-changes/route.ts
  src/app/api/crm/value-propositions/route.ts
  src/app/api/ml/pipeline/route.ts
  src/app/api/performance/metrics/route.ts
  src/app/api/privacy/route.ts
  src/app/api/sustainability/metrics/route.ts
  src/app/api/user/theme-preferences/route.ts
  src/app/api/voice-notes/[id]/audio/route.ts
  src/app/api/voice-notes/route.ts
  src/lib/csrf.ts
  src/lib/error-handler.ts
  src/lib/optimistic-updates.ts
  src/lib/performance-monitor.ts
  src/lib/security/edge-crypto.ts
  src/lib/validation.ts
  src/middleware.ts
  src/middleware/tenant-validation-edge.ts
  src/middleware/tenant-validation.ts
  src/styles/globals.css
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

fix: Escape backticks in GitHub Actions workflow YAML
  .github/workflows/sacred-audit.yml
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

fix: Simplify GitHub Actions workflows
  .claude/settings.local.json
  .github/workflows/ai-consciousness-deploy.yml.disabled
  .github/workflows/ci.yml
  .github/workflows/sacred-audit.yml.disabled
  VERCEL_ENV_SETUP.md
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/documentation-team

fix: Make Redis instrumentation optional for Vercel build
  src/lib/telemetry/opentelemetry.ts
Owners: @coreflow360/consciousness-architects

fix: Move Tailwind CSS v4 packages to dependencies for Vercel build
  .github/workflows/ci.yml
  package.json
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

fix: Replace Tailwind @apply with direct CSS for v4 compatibility
  src/styles/globals.css
Owners: @coreflow360/consciousness-architects

fix: Update CI NEXTAUTH_SECRET
  .github/workflows/ci.yml
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

fix: Correct libphonenumber-js import name
  src/app/api/leads/webhook/route.ts
Owners: @coreflow360/consciousness-architects

fix: Complete Vercel deployment fixes and resolve all build errors
  .github/workflows/ci.yml
  VERCEL_DEPLOYMENT_INSTRUCTIONS.md
  package-lock.json
  src/lib/api-response.ts
  src/lib/cache/unified-redis.ts
  src/lib/monitoring.ts
  src/lib/rate-limiting/rate-limiter.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/documentation-team

chore: Trigger fresh deployment
  README.md
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Resolve all Vercel deployment errors
  postcss.config.mjs
  src/app/layout.tsx
  src/app/tailwind.css
  src/lib/config/environment-build.ts
  src/lib/config/environment.ts
  src/middleware.ts
Owners: @coreflow360/consciousness-architects

fix: CI tests and CORS configuration error
  .github/workflows/ci.yml
  src/lib/config/environment.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

fix: Force production deployment
  README.md
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Make build-time configuration lenient to fix Vercel deployment
  src/lib/config.ts
  src/lib/telemetry/opentelemetry.ts
Owners: @coreflow360/consciousness-architects

fix: Use 64-character hex string for build-time encryption key
  .claude/settings.local.json
  src/lib/config.ts
  src/lib/config/environment.ts
Owners: @coreflow360/consciousness-architects

fix: Make environment validation fully build-aware
  src/lib/config/environment.ts
Owners: @coreflow360/consciousness-architects

fix: Resolve Vercel deployment build errors
  .coderabbit.yaml
  .github/workflows/coderabbit.yml
  CODERABBIT_SETUP.md
  src/app/admin/monitoring/page.tsx
  src/lib/config/environment.ts
  src/lib/db.ts
  src/lib/encryption/field-encryption.ts
  src/lib/queue/client.ts
  src/lib/queues/lead-processor.ts
  src/lib/security/index.ts
  src/lib/security/request-signing.ts
  src/lib/telemetry/opentelemetry.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/documentation-team, @coreflow360/security-engineers

fix: Comprehensive Vercel deployment fixes
  .vercelignore
  src/lib/config.ts
  src/lib/config/environment.ts
  src/lib/security/audio-encryption.ts
  src/lib/telemetry/opentelemetry.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/security-engineers

build: Optimize Vercel deployment configuration
  package-lock.json
  package.json
  setup-vercel-env.sh
  vercel.json
Owners: @coreflow360/consciousness-architects

docs: Add comprehensive Vercel deployment documentation
  VERCEL_DEPLOYMENT_CHECKLIST.md
  check-deployment.sh
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

docs: Complete Vercel deployment fix summary
  .claude/settings.local.json
  DEPLOYMENT_SUMMARY.md
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Critical deployment and CI/CD fixes
  .claude/settings.local.json
  .github/workflows/security-scanning.yml
  .gitignore
  vercel.json
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

docs: Add critical Vercel environment variables setup guide
  VERCEL_ENV_SETUP.md
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

chore: Update gitignore and dependencies
  .gitignore
  package-lock.json
Owners: @coreflow360/consciousness-architects

fix: Update RATE_LIMIT_WINDOW validation to accept milliseconds
  DEPLOYMENT_STATUS.md
  src/lib/config/environment.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Critical deployment issues resolved for Vercel
  package.json
  scripts/validate-deployment.ts
  src/lib/cache/unified-redis.ts
  src/lib/config/environment.ts
  src/lib/email.ts
  src/lib/stripe/stripe.ts
  src/services/ai/ai-service-manager.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/billing-engineers

fix: Critical deployment fixes for all build-time issues
  src/lib/queues/lead-processor.ts
  src/lib/voice/twilio-client.ts
Owners: @coreflow360/consciousness-architects

docs: Add deployment validation and final checklist
  FINAL_DEPLOYMENT_CHECKLIST.md
  validate-deployment.sh
Owners: @coreflow360/consciousness-architects, @coreflow360/documentation-team

fix: Critical deployment fixes - module-level initialization and validation
  src/app/api/stripe/create-checkout/route.ts
  src/app/api/websocket/status/route.ts
  src/lib/config.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/billing-engineers

fix: Complete deployment audit fixes - attempt #51
  .github/workflows/repoaudit.yml
  .repoaudit.yaml
  DEPLOYMENT_GUIDE.md
  REPOAUDIT_SETUP.md
  cript and comprehensive guide - Fix encryption key validation during build - Make all required env vars optional during build - Add detailed troubleshooting guide
  package.json
  scripts/deploy.sh
  scripts/repoaudit.sh
  src/app/api/admin/performance-metrics/route.ts
  src/components/analytics/AnalyticsProvider.tsx
  src/lib/config/environment.ts
  src/lib/monitoring.ts
  src/lib/redis/client.ts
  src/lib/voice/conversation-engine-v2.ts
  src/lib/voice/performance-tracker.ts
  src/lib/voice/twilio-client.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/documentation-team

fix: Prevent Redis connections during Vercel build - attempt #52
  .github/workflows/repoaudit.yml
  .repoaudit.yaml
  DEPLOYMENT_GUIDE.md
  REPOAUDIT_SETUP.md
  cript and comprehensive guide - Fix encryption key validation during build - Make all required env vars optional during build - Add detailed troubleshooting guide"
  scripts/audit-code.js
  src/app/api/admin/events/route.ts
  src/app/layout.tsx
  src/components/analytics/GoogleAnalytics.tsx
  src/components/pricing/PricingPageContent.tsx
  src/lib/cache/unified-redis.ts
  src/lib/redis/client.ts
  src/lib/server-config.ts
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers, @coreflow360/documentation-team

fix: Deployment fixes for attempt #55 - Simplified CI/CD pipeline
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/security-scanning.yml
  .github/workflows/vercel-deploy.yml
  Dockerfile
Owners: @coreflow360/consciousness-architects, @coreflow360/devops-engineers

.github/CODEOWNERS:

# CoreFlow360 Consciousness Architecture Code Ownership
# Global ownership - all changes require consciousness validation
* @coreflow360/consciousness-architects

# Critical consciousness systems
/src/ai/ @coreflow360/consciousness-architects @coreflow360/ai-engineers
/src/lib/consciousness/ @coreflow360/consciousness-architects
/src/modules/ @coreflow360/consciousness-architects @coreflow360/module-engineers

# Business organism architecture  
/prisma/ @coreflow360/consciousness-architects @coreflow360/database-engineers
/src/lib/auth.ts @coreflow360/consciousness-architects @coreflow360/security-engineers
/src/middleware/ @coreflow360/consciousness-architects @coreflow360/security-engineers

# Infrastructure and operational systems
/.github/ @coreflow360/consciousness-architects @coreflow360/devops-engineers
/scripts/ @coreflow360/consciousness-architects @coreflow360/devops-engineers
/next.config.js @coreflow360/consciousness-architects @coreflow360/frontend-engineers

# Documentation and consciousness evolution
/*.md @coreflow360/consciousness-architects @coreflow360/documentation-team
/docs/ @coreflow360/consciousness-architects @coreflow360/documentation-team

# Payment and subscription consciousness
/src/lib/stripe/ @coreflow360/consciousness-architects @coreflow360/billing-engineers
/src/app/api/stripe/ @coreflow360/consciousness-architects @coreflow360/billing-engineers

# Security and compliance
/src/lib/security/ @coreflow360/consciousness-architects @coreflow360/security-engineers
/src/__tests__/security/ @coreflow360/consciousness-architects @coreflow360/security-engineers
